body{
    background-color: #282c34;
}
.App {
  text-align: center;
  width: 100%;

}

.App-header {
  min-height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.patient_view{
    overflow-x: auto;
    background-color: #282c34;
    table{
        border-collapse: collapse;
        width: 100%;
        thead{
            background-color: #fff;
            tr{
                th{
                    font-size: 8px;
                    border-width: 0 1px 0 1px;
                    border-color: gray;
                    border-style: solid;
                }
            }
        }
        tbody{
            tr{
                td{
                    font-size: 10px;
                    white-space: nowrap;
                    font-size: 8px;
                    border-width: 0 1px 0 1px;
                    border-color: gray;
                    border-style: solid;
                }
            }
            tr:nth-child(odd){
                background-color: lightgray;
            }
            tr:nth-child(even){
                background-color: darkgray;
            }
        }
        tfoot{
            background-color:lightslategray;
            tr {
                td{
                    font-size: 8px;
                    font-weight: bold;
                    button{
                        font-size: 8px;
                    }
                }
            }
        }
    }
}
.search_input_form{
    display: flex;
    flex-direction: column;
    max-width: 450px;
    margin: 0 auto;
    .invalid{
        border: 2px solid red;
        border-radius: 5px;
    }
    .error_message.visible{
        width: 100%;
        color: red;
        font-weight: bold;
        font-size: 12px;
    }
    label{
        color: #fff;
    }
    button{
        max-width: 200px;
        margin: 10px auto;
    }
}
.question_view{
        height: auto;
        color: #fff;
    .question_form{
        .form_group{
            display: flex;
            justify-content: space-between;
            max-width: 300px;
            margin: 30px auto;
            position: relative;
            .form_label{
                font-weight: bold;
                text-align: left;
                font-size: 10px;
            }
            &.error:after { 
                content:"* A value is required"; 
                color: red;
                font-size: 10px;
                position: absolute;
                left: 0;
                top: -15px;
                
            }
        }
    }
    .results_display{
        .result_group{
            display: flex;
            justify-content: space-between;
            max-width: 300px;
            margin: 10px auto;
            span{
                font-size: 10px;
            }
        }
        pre{
            display: none;
            max-width: 350px;
            font-size:10px;
            margin: 0 auto;
            text-align: left;
            &.visible{
                display: block;
            }
        }
    }
}
@media only screen and (min-width: 481px){
    .patient_view{
        table{
            thead{
                tr th{
                    font-size: 12px;
                }
            }
            tbody, tfoot{
                tr td{
                    font-size: 10px;
                    button{
                        font-size: 10px;
                    }
                }
            }
        }
    }
    .search_input_form{
        .error_message.visible{
            font-size: 14px;
        }
    }
    .question_view{
        .question_form .form_group{
            max-width: 455px;
            .form_label{
                font-size: 12px;
            }
        }
        .results_display{
            .result_group{
                max-width: 455px;
                span{
                    font-size: 12px;
                }
            }
            pre{
                max-width:455px;
                font-size:12px;
            }
        }
    }
}

@media only screen and (min-width: 768px){
    .patient_view{
        table{
            thead{
                tr th{
                    font-size: 14px;
                }
            }
            tbody, tfoot{
                tr td{
                    font-size: 12px;
                    button{
                        font-size: 12px;
                    }
                    
                }
            }
        }
    }
    .search_input_form{
        .error_message.visible{
            font-size: 16px;
        }
    }
        .question_view{
        .question_form .form_group{
            max-width: 650px;
            .form_label{
                font-size: 14px;
            }
        }
        .results_display{
            .result_group{
                max-width: 650px;
                span{
                    font-size: 14px;
                }
            }
            pre{
                max-width: 650px;
                font-size:14px;
            }
        }
    }
}
@media only screen and (min-width: 1040px){
        .patient_view{
        table{
            max-width: 1200px;
            margin: 0 auto;
            thead{
                tr th{
                    font-size: 16px;
                }
            }
            tbody, tfoot{
                tr td{
                    font-size: 14px;
                button{
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .search_input_form{
        .error_message.visible{
            font-size: 16px;
        }
    }
}